body {
    font-family: 'Arial', sans-serif;
    background-color: #FEE7F0;
    text-align: center;
    margin-top: 50px;
}

form {
    background-color: #FFED90;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 5px;
}

label {
    color: #4B4B4B;
    font-weight: bold;
    margin-top: 5px;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
    margin-top: 8px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

input[type="submit"] {
    background-color: #FF5ACD;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #FF5ACD;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: #FF5ACD;
    margin-top: 50px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}